<link rel="stylesheet" type="text/css" href="/styles/index.css">


<div class="content">
    
  <div id="title-container">
    <h1 id="title">twitter substack proxy</h1>    
  </div>

  
    <p>
      Paste in your substack link:
    </p>

    <input type="text" placeholder="your substack URL" id="substack_url">
    
    <p>
      You can now share this link on Twitter (open it yourself first to test that it works):
    </p>
    
    <pre id="output">
    </pre>

<script src="/script.js"></script>

</div>

