<link rel="stylesheet" type="text/css" href="/styles/index.css">


<div class="content">
    
  <div id="title-container">
    <h1 id="title">twitter substack proxy</h1>    
  </div>

  
    <p>
      Paste in your substack link:
    </p>

    <input type="text" placeholder="your substack URL" id="substack_url">
    
    <p id="you-can-now-text" style="display: none;">
      You can now share this link on Twitter:
    </p>
    
    <pre id="output">
    </pre>

<script src="/script.js"></script>

<div id="footer">
  <p>
    I hate that I can't share substack links on Twitter. It doesn't show the preview card, and tweets with substack links get severely limited in terms of algorithm/reach. So this is my workaround.
  </p>
<p>
  Source code: <a href="https://github.com/OmarShehata/twitter-substack-proxy">
    https://github.com/OmarShehata/twitter-substack-proxy
    </a>
</p>
</div>

</div>

