<link rel="stylesheet" type="text/css" href="/styles/index.css">


<div class="content">
    
  <div id="title-container">
    <h1 id="title">twitter substack proxy</h1>    
  </div>

  
    <p>
      Paste in your substack link:
    </p>

    <input type="text" placeholder="your substack URL" id="substack_url">
    
    <p id="you-can-now-text" style="display: none;">
      You can now share this link on Twitter:
    </p>
    
    <pre id="output">
    </pre>

    <button style="display: none;" id="copy-btn" class="button-4" role="button">Copy</button>


<script src="/script.js"></script>

<div id="footer">
  <p>
    Twitter makes it essentially impossible to share substack links. (1) they do not display the title / preview card and (2) tweets with substack links get heavily downranked by the algorithm, and thus very little visibility. 
  </p>
  <p>
    This is a little workaround. You give it a substack URL, it generates an HTML page that (1) has the same &lt;meta&gt; tags as your substack article (2) automatically redirects to it. This cannot be banned. You even can take this HTML page and host it yourself anywhere.
  </p>
  <p>
    You can add <code>?noredirect</code> to the generated URL, if you want to see the page and download it/self host it.
  </p>
<p>
  <ul>
    <li>
      <a href="https://github.com/OmarShehata/twitter-substack-proxy">source code on GitHub</a>
    </li>
    <li>
      <a href="https://glitch.com/~substack-proxy">source code on Glitch</a>
    </li>
  </ul>

</p>
</div>

</div>

