#title-container {
  /*text-align: center;*/
  display: flex;
  flex-direction: column;
      align-items: center;
}

#title {
  margin-bottom: 0px;
  font-size: 64px;
}

@media only screen and (max-width: 900px) {
  #title {
    font-size: 32px;
  }
}

.muted {
  color: var(--color-muted);
}

#subtitle {
  margin-top: 0px;
  color: var(--color-muted);
}


pre {
  white-space: pre-wrap;
  max-width: 600px;
  word-wrap: break-word;
}

#substack_url {
  width: 100%;
  height: 25px;
  font-size: 20px;
  border-radius: 5px;
}
#footer {
  color: var(--color-muted);

  max-width: 600px;
  margin-bottom: 100px;
  position:absolute;
   bottom:0;
   width:100%;
   height:100px;   
}